

#main{
  @media (min-width: 1140px) {
    margin: 0 auto;
  }
}
#main .main-wrap {
  display: flex;
  flex-direction: column;
}
#main .main-top{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
  @media (max-width:768px) {
    display: none;
  }
}


#main .main-content h2{
  font-size: 20px;
}

#main .main-content.main-left{
  width: calc(50% - 15px);
  height: auto;
  @media (max-width: 1919px){
    width: 39.8%;
  }
  @media (max-width: 1024px) {
    width: 100%;
  }
}

#main .main-content.main-left div ul{
  display: flex;
  flex-wrap: wrap;
}

#main .main-content.main-left div .ceo-reco-card {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 15px;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  margin: 30px 15px 0 0;
  @media (max-width:1950px) {
    width: calc(16.666666% - 17.5px);
  }
  @media (max-width:1919px) {
    width: calc(25% - 23px);
  }
  @media (max-width:1440px) {
    width: calc(50% - 50px);
    margin: 30px 30px 0 0;
  }
  @media (max-width: 1024px) {
    width: calc(16.666666% - 13px);
    margin: 15px 15px 0 0;
  }
  @media (max-width: 914px) {
    width: calc(25% - 12px);
  }
  
}
html.dark .ceo-reco-card{
  border: 1px solid #333333 !important;
  background-color: #222222;
}

#main .main-content.main-left div .ceo-reco-card:nth-child(2n) {
  @media (max-width:1950px) {
    margin-right: 30px;
  }
  @media (max-width: 1024px) {
    margin-right: 15px;
  }
}

#main .main-content.main-left div .ceo-reco-card:nth-child(6n) {
  @media (max-width:1950px) {
    margin-right: 0;
  }
  @media (max-width:1919px) {
    margin-right: 30px;
  }
  @media (max-width: 1024px) {
    margin-right: 0;
  }
  @media (max-width: 914px) {
    margin-right: 15px;
  }
}


#main .main-content.main-left div .ceo-reco-card:nth-child(4n) {
  @media (max-width:1919px) {
    margin-right: 0;
  }
  @media (max-width: 1024px) {
    margin-right: 15px;
  }
  @media (max-width: 914px) {
    margin-right: 0;
  }
}

#main .main-content.main-left div .ceo-reco-card:nth-child(12n) {
  @media (max-width: 1024px) {
    margin-right: 0;
  }

}
#main .main-content.main-left div .ceo-reco-card:nth-child(5),
.ceo-reco-card:nth-child(6),
.ceo-reco-card:nth-child(7),
.ceo-reco-card:nth-child(8),
.ceo-reco-card:nth-child(9),
.ceo-reco-card:nth-child(10),
.ceo-reco-card:nth-child(11),
.ceo-reco-card:nth-child(12) {
  @media (max-width: 1919px) {
    display: none;
  }

  @media (max-width: 1440px) {
    display: none;
  }

  @media (max-width: 1024px) {
    display: block;
  }
}
#main .main-content.main-left div .ceo-reco-card:nth-child(9),
.ceo-reco-card:nth-child(10),.ceo-reco-card:nth-child(11),.ceo-reco-card:nth-child(12){
  @media (max-width: 1919px) {
    display: block;
  }
  @media (max-width: 1440px) {
    display: none;
  }
  @media (max-width: 1024px) {
    display: block;
  }
  @media (max-width: 914px) {
    display: block;
  }
}

#main .main-content.main-left ul .ceo-reco-card :first-child {
  color: black;
  width: 100%;
  height: 100%;
  text-align: center;

}
#main .main-content.main-left ul .ceo-reco-card .card-profile-icon{
  width: 80px;
  height: 80px;
  background-image: url(../../image/unknown.png);
  background-size: cover;
  border-radius: 50%;
}


#main .main-content.main-left div .ceo-reco-card div p {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
  line-height: 100%;
}
html.dark .card-ceo-name{
  color: #fff;
}

#main .main-content.main-left div .ceo-reco-card div .card-ceo-category {
  color: #666;
  font-size: 14px;
  font-weight: 400;
}

#main .main-content.main-left div .ceo-reco-card div .card-ceo-folow {
  background-color: #eabb4c;
  border: 0;
  font-size: 14px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 7px 14px;
  color: #fff;
}

#main .main-content.main-right {
  width: calc(50% - 15px);
  
  margin-left: 30px;
  @media (max-width: 1919px){
    width: 60.2%;
  }
  @media (max-width: 1024px) {
    margin-left: 0;
    width: 100%;
  }
}

#main .main-content.main-right .right-content {
  height: 544px;
  padding-top: 30px;
  @media (max-width: 1024px) {
    padding-top: 0;
  }
}

#main .main-content.main-right ul{
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 100%;
}

#main .main-content.main-right ul .magazine-card{
  width: 376px;
  height: 100%;
  border-radius: 16px;
  flex: 0 0 auto;
  margin-right: 30px;
}

#main .main-content.main-right ul .magazine-card a{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-size: cover;
  border-radius: 16px;
  
}

#main .main-content.main-right ul .magazine-card a .card-content{
  display: flex;
  padding: 0 30px 30px 40px;
  flex-direction: column;
  justify-content: space-between;
}

#main .main-content.main-right ul .magazine-card a .card-top-img {
  width: 150px;
  padding: 20px 20px 0 0;
  margin-left: auto;
}
#main .main-content.main-right ul .magazine-card a .card-content .card-ceo-coment{
  height: 60px;
  margin-top: 20px;
}
#main .main-content.main-right ul .magazine-card a .card-content .card-ceo-coment img{
  display: block;
  height: 100%;
}
#main .main-content.main-right ul .magazine-card a .card-content .card-ceo-coment h4{
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin: 0 0 20px 0;
}
#main .main-content.main-right ul .magazine-card a .card-content .card-bottom-img {
  width: 100%;
  height: 55px;
  padding-top: 20px;
  text-align: left;
}
#main .main-content.main-right ul .magazine-card a .card-content .card-bottom-img img{
  display: inline-block;
  width: auto;
  height: 100%;
}

#main .main-bottom{
  width: 100%;
  height: 1000px;
}

#main .main-bottom .bottom-container {
  display: flex;
  flex-wrap: wrap;
}

#main .main-bottom h2{
  margin: 30px 0;
  @media (max-width:768px) {
    display: none;
  }
}



#main .main-bottom .post-columns{
  width: 20%;
  float: left;
  @media (max-width: 1440px) {
    width: 33%;
  }
  @media (max-width: 768px) {
    width: 100%;
  }
}

#main .main-bottom .post-wrap {
  padding: 0 15px 0 15px;
  height: auto;
  @media (max-width: 768px) {
    padding: 0;
  }
}

#main .main-bottom .post-wrap .post-top{
  display: flex;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  padding: 0 15px;
}

#main .main-bottom .post-wrap .post-top div{
  display: flex;
  height: 30px;
  align-items: center;
  padding: 0px 20px;
  border-radius: 10px 10px 0 0;
}

#main .main-bottom .post-wrap .post-top .card-write-title{
  background-color: #333;
  color: #fff;
  margin-right: 10px;
}
html.dark .card-write-title{
  background-color: white !important;
  color: black !important;
}

#main .main-bottom .post-wrap .post-top .card-category-title {
  border: 1px solid #EDEDED;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
html.dark .card-category-title{
  background-color: #333;
  color: #fff;
  border: 1px solid #333333 !important;
}

#main .main-bottom .post-wrap{
  margin-bottom: 30px;
}

#main .main-bottom .post-wrap .post-card{
  position: relative;
}

#main .main-bottom .post-wrap:hover{
  transform: translateY(-1%);
  transition: 0.3s;
  @media (max-width: 768px) {
    transform: none;
    transition: none;
  }
}
#main .main-bottom .post-wrap .post-card .card-img-wrap{
  background-color: #222;
  border-radius: 1rem 1rem 0 0;
}

#main .main-bottom .post-wrap .post-card .card-img-wrap img{
  border-radius: 1rem 1rem 0 0;
  opacity: 0.5;
  object-fit: cover;
}
#main .main-bottom .post-wrap .post-card .card-wrap {
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 15px;
  text-align: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

html.dark .post-card .card-wrap{
  border-radius: 0 0 1rem 1rem;
  color: #fff !important;
  background-color: #222 !important;
}

#main .main-bottom .post-wrap.small .post-card .card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: #fff;
}



#main .main-bottom .post-wrap.small .post-card .card-img-wrap {
  border-radius: 1rem;
}

#main .main-bottom .post-wrap.small .post-card .card-img-wrap img{
  border-radius: 1rem;
}

#main .main-bottom .post-wrap .post-card .card-head {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 60px;
}

#main .main-bottom .post-wrap.small .post-card .card-head {
  position: static;
  width: 100%;
  height: 60px;
}

#main .main-bottom .post-wrap .post-card .card-wrap .card-content h4{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin: 0 0 5px 0;
  
}



#main .main-bottom .post-wrap .post-card .card-wrap .card-content p {
  font-size: 16px;
  margin: 0 0 10px 0;
}

#main .main-bottom .post-wrap .post-card .card-wrap .card-foot{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}



#main .main-bottom .post-wrap .post-card .card-wrap .card-foot .post-like {
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
  background: url(../../image/icon_like_light.svg) 0 50% no-repeat;
}

#main .main-bottom .post-wrap.small .post-card .card-wrap .card-foot .post-like{
  background: url(../../image/icon_like_dark.svg) 0 50% no-repeat;
}

html.dark .post-wrap:not(.small) .post-like {
  background: url(../../image/icon_like_dark.svg) 0 50% no-repeat !important;
}

#main .main-bottom .post-wrap .post-card .card-wrap .card-foot .post-view {
  display: inline-block;
  margin-right: 10px;
  padding-left: 20px;
  background: url(../../image/icon_view_light.svg) 0 50% no-repeat;
}

#main .main-bottom .post-wrap.small .post-card .card-wrap .card-foot .post-view {
  background: url(../../image/icon_view_dark.svg) 0 50% no-repeat;
}

html.dark .post-wrap:not(.small) .post-view {
  background: url(../../image/icon_view_dark.svg) 0 50% no-repeat !important;
}

#main .main-bottom .post-wrap .post-card .card-wrap .card-foot .post-comment {
  display: inline-block;
  padding-left: 20px;
  background: url(../../image/icon_comment_light.svg) 0 50% no-repeat;
}

#main .main-bottom .post-wrap.small .post-card .card-wrap .card-foot .post-comment {
  background: url(../../image/icon_comment_dark.svg) 0 50% no-repeat;
}

html.dark .post-wrap:not(.small) .post-comment {
  background: url(../../image/icon_comment_dark.svg) 0 50% no-repeat !important;
}
#main .mobile-icon-box{
  padding-bottom: 30px;
}

#main .mobile-icon-box ul{
  display: flex;
  justify-content: space-between;
}

#main .mobile-icon-box ul li{
  position: relative;
  width: 22%;
  padding-top: 23%;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

html.dark .mobile-icon-box ul li{
  background-color: #222 !important;
}


#main .mobile-icon-box ul li a{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#main .mobile-icon-box ul li a div{
  width: 100%;
}

#main .mobile-icon-box ul li div span {
  display: block;
  width: 100%;
  font-size: calc(12px + (24 + 12) * (100vw - 360px)/(2000 - 360));
  font-weight: 500;
  word-break: keep-all;
}

#main .mobile-icon-box ul li span:first-child {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

#main .mobile-icon-box ul li:nth-child(1) span:first-child{
  background-image: url(../../image/icon_main_masktalk_light.svg);
}

html.dark .mobile-icon-box ul li:nth-child(1) span:first-child{
  background-image: url(../../image/icon_main_masktalk_dark.svg) !important;
}

#main .mobile-icon-box ul li:nth-child(2) span:first-child {
  background-image: url(../../image/icon_main_forum_light.svg);
}

html.dark .mobile-icon-box ul li:nth-child(2) span:first-child {
  background-image: url(../../image/icon_main_forum_dark.svg) !important;
}

#main .mobile-icon-box ul li:nth-child(3) span:first-child {
  background-image: url(../../image/icon_main_pencel_light.svg);
}

html.dark .mobile-icon-box ul li:nth-child(3) span:first-child {
  background-image: url(../../image/icon_main_pencel_dark.svg) !important;
}

#main .mobile-icon-box ul li:nth-child(4) span:first-child {
  background-image: url(../../image/icon_main_poll_light.svg);
}

html.dark .mobile-icon-box ul li:nth-child(4) span:first-child {
  background-image: url(../../image/icon_main_poll_dark.svg) !important;
}
#main .mobile-icon-box ul li div span:nth-child(1) {
  width: 52%;
  padding-top: 39.11%;
  margin: 0 auto;
}

#main .mobile-icon-box ul li div span:nth-child(2){
  padding-top: 11.74%;
}


html.dark .mobile-icon-box ul li{
  background-color: #222;
}

html.dark .mobile-icon-box ul li {
  background-color: #222;
}

#main .mobile-icon-box ul li:nth-child(1) a div span:nth-child(2)::before{
  content: 'Talk';
}

#main .mobile-icon-box ul li:nth-child(2) a div span:nth-child(2)::before {
  content: 'Lounge';
}

#main .mobile-icon-box ul li:nth-child(3) a div span:nth-child(2)::before {
  content: 'Pulse Survey';
}

#main .mobile-icon-box ul li:nth-child(4) a div span:nth-child(2)::before {
  content: 'Magazine';
}