#mainnav {
  position: sticky;
  top: 0;
  display:flex;
  width: 100%;
  font-family: inherit;
  z-index: 1000;
}

#mainnav.nav-dark{
  background-color: black;
}

#mainnav.nav-light {
  background-color: #fff;
}
#mainnav .navbar{
  display:flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 45px 0 45px;
  @media (max-width: 1140px) {
    padding: 0 20px;
  }
}

#mainnav .navbar .mobile-menu{
  display: flex;
  width: 80px;
  @media (min-width: 1140px) {
    display: none;
  }
}

#mainnav .navbar .mobile-menu .navbar-toggle{
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#mainnav .navbar .mobile-menu .navbar-toggle-icon {
  display: inline-block;
  width: 40px;
  height: 18px;
  background-image: url(../../image/hambuger_light.png);
  background-size: contain;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

html.dark .navbar .mobile-menu .navbar-toggle-icon{
  background-image: url(../../image/hambuger_dark.png) !important;
}

#mainnav .navbar .mobile-menu .navbar-theme{
  flex: 1;
}
#mainnav .navbar .mobile-menu .navbar-theme button{
  cursor: pointer;
}
#mainnav .navbar-logo {
  display: flex;
  align-items: center;
  margin-right: 2.3vw;
  width: 100px;
  cursor: pointer;
}

#mainnav .navbar-left {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

#mainnav .navbar-left #gnb {
  display: flex;
  @media (max-width: 1140px) {
    display:none;
  }
}

#mainnav .navbar-left #gnb li:hover span{
  cursor: pointer;
  color: #eabb4c;
}

#mainnav .navbar-left #gnb a{
  display: block;
  padding: 18px 15px;

  @media (min-width: 1140px) and (max-width: 1202px){
    padding: 23px 5px;
  }
  
    
}
#mainnav .navbar-left #gnb li a span{
  display: block;
  text-align: center;
  white-space: pre-line;
}

#mainnav .navbar-left #gnb .nav-title-en{
  font-size: 16px;
  font-weight: 700;
  @media (min-width: 1140px) and (max-width: 1440px) {
    font-size: 14px;
  }
}
#mainnav .navbar-left #gnb .nav-title-kr {
  padding-top: 4px;
  font-size: 12px;
  color: #999;
}

#mainnav .navbar-right{
  position: relative;
  display: flex;
  align-items: center;
}

#mainnav .navbar-right li{
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
#mainnav .navbar-right li a{
  text-align: center;
}

#mainnav .navbar-right li button{
  cursor: pointer;
}


#mainnav .navbar-right div {
  width: 100%;
  height: 100%;
}

#mainnav .nav-icon{
  width: 100%;
  height: 100%;
  background-color: transparent;
  margin: 0;
  border: 0;
}

#mainnav .nav-icon{
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

#mainnav .navbar-right .nav-item.theme {
  @media (max-width: 1140px) {
    display: none;
  }
}
#mainnav .navbar-right .nav-icon.search {
  background-size: 20px;
}

#mainnav .navbar-right li a{
  display: block;
  width: 100%;
  height: 100%;
}

#mainnav .navbar-right .nav-link .nav-icon{
  text-align: center;
  line-height: 37px;
}








