html.light body{
  background-color: #fff;
  color: #000;
}



html.dark body{
  background-color: #000;
  color: #fff;
}

body{
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 돋움, Dotum, sans-serif;
  font-size: 0px;
}

#app {
  padding-top: 50px;
  padding-right: 45px;
  padding-left: 45px;
}

*,::after,::before {
  box-sizing: border-box;
}
h1,h2,h3,h4{
  margin: 0;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 돋움, Dotum, sans-serif;
}
img{
  width: 100%;
  height: auto;
}

